<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lendSys.dao.ProductMapper">
    <resultMap id="BaseResultMap" type="com.lendSys.entity.Product">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="rent_num" jdbcType="INTEGER" property="rentNum"/>
        <result column="product_status" jdbcType="INTEGER" property="productStatus"/>
        <result column="product_des" jdbcType="VARCHAR" property="productDes"/>
        <result column="product_level" jdbcType="VARCHAR" property="productLevel"/>
    </resultMap>


    <resultMap id="detailProductVo" type="com.lendSys.vo.detailProductVo">
        <id column="product_id" jdbcType="INTEGER" property="productId"/>
        <id column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="rent_num" jdbcType="INTEGER" property="rentNum"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="picture_id" jdbcType="INTEGER" property="pictureId"/>
        <result column="product_level" jdbcType="VARCHAR" property="productLevel"/>
        <result column="product_des" jdbcType="VARCHAR" property="productDes"/>
        <result column="product_status" jdbcType="INTEGER" property="productStatus"/>
    </resultMap>

    <select id="getDetailProduct" resultMap="detailProductVo">
        select pro.product_id, product_name, rent_num, url, picture_id, product_level, product_des,product_status
        from product_picture as pic
                 inner join product as pro on pro.product_id = pic.product_id
        where pro.product_id = #{productId};
    </select>
</mapper>